<div class="card">

  <div *ngIf="isImageResized">
    <div class="card-header">
      <h1>Resizer!</h1>
    </div>

    <div class="dropzone" appDnd (fileDropped)="onFileDropped($event)">
      <input type="file" #fileDropRef id="fileDropRef" class="inputBox" multiple (change)="fileBrowseHandler($event)" />
      <img src="">
      <h3>Drag and drop files<br>here or</h3>
      <label for="fileDropRef" class="fileDropRefLabel">Browse for files</label>
    </div>

    <mat-radio-group aria-label="" class="radial-button" [(ngModel)]="imageTypeSelect" #radialGroup>
      <label for="radialGroup" class="radialGroup_label">Select your file: </label>
      <mat-radio-button value="emote">Emote</mat-radio-button>
      <mat-radio-button value="badge">Badge</mat-radio-button>
    </mat-radio-group>

    <div class="filesList">
      <div class="singleFile" *ngFor="let file of files; let i = index">
        <img src="../../assets/attach.svg" alt="" srcset="" class="fileIcon">
        <div class="fileInfo">
          <h4 class="name">{{file?.name}}</h4>
          <p class="size">{{ formatBytes(file?.size, 2) }}</p>
        </div>
        <div class="delete" (click)="deleteFile(i)">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
            <path fill="#B1B1B1" fill-rule="nonzero"
              d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
          </svg>
        </div>
      </div>
    </div>

    <div><button mat-raised-button class="default-button" (click)="clicarBotao(this.files)">Resize my Images!</button></div>
  </div>

  <div *ngIf="isImageResized == false">
    <div class="card-header">
      <h1>Download now!
      </h1>
    </div>

    <div class="filesList">
      <div class="singleFile" *ngFor="let file of files; let i = index">
        <img src="../../assets/attach.svg" alt="" srcset="" class="fileIcon">
        <div class="fileInfo">
          <h4 class="name">{{file?.name}}</h4>
          <p class="size">{{ formatBytes(file?.size, 2) }}</p>
        </div>
        <div class="delete" (click)="deleteFile(i)">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
            <path fill="#B1B1B1" fill-rule="nonzero"
              d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
          </svg>
        </div>
      </div>
    </div>

    <div style="display: flex; justify-content: center; flex-direction:column;">
      <button mat-raised-button class="default-button" (click)="submitImages()">Download my images!</button>
      <button mat-raised-button class="sub-button" (click)="uploadImages()">Or upload more images</button>
    </div>
  </div>


</div>